<div class="row">
  <div class="col-12">
    <h2>{{appointment.name}}</h2>
    <p>
        <i class="fa fa-calendar" aria-hidden="true"></i>
        {{appointment.date | date:"dd MMMM yyyy"}}
      </p>
    <p>
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        {{appointment.date | date:"hh:mm"}}
    </p>
  </div>
  <div class="col-12">
      <form>
        <div class="form-group">
          <button type="button" class="btn btn-sm btn-danger" (click)="delete(appointment.$key)">Delete appointment</button>
          <small id="deleteHelp" class="form-text text-muted">This cannot be undone!</small>
        </div>
      </form>
    </div>
</div>
