<div class="row">
  <div class="col-xs-4">
      <form>
          <div class="form-group">
              <div class="input-group">
                  <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                  <input type="text" class="form-control" placeholder="Search" name="searchString" [(ngModel)]="searchString">
                  <!-- <input #searchString name="searchString" (keyup)="search(searchString.value)" /> -->
                </div>
          </div>
      </form>
    </div>
</div>
