<div class="row">
  <div class="col-12">
    <h2>All Appointments</h2>
  </div>
</div>

<app-appointments-search (change)="onChange($event)"></app-appointments-search>

<div class="row">
  <div class="col-12">
    <table class="table table-bordered table-hover table-responsive">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr [ngClass]="{'greyText': (appointment.date < today) ? true:false}" *ngFor="let appointment of appointments | orderBy: 'date' | search: 'name' : searchString">
          <td>{{appointment.date | date:"MMMM d, yyyy"}}</td>
          <td>{{appointment.date | date:"HH:mm"}}</td>
          <td><a [routerLink]="['/appointments', appointment.id]">{{appointment.name}}</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
