<div class="row">
  <div class="col-xs-4">
      <form>
          <div class="form-group">
              <div class="input-group">
                  <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
                  <input type="text" class="form-control" placeholder="Search" name="searchString" [(ngModel)]="searchString">
              </div>
          </div>
      </form>
    </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>All Appointments</h1>
  </div>
  <div class="col-xs-12">
    <table class="table table-bordered table-hover table-responsive">
      <thead>
        <tr>
          <th>Id</th>
          <th>Date</th>
          <th>Time</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of appointments | appointmentOrder | appointmentSearch: 'name' : searchString">
          <td>{{appointment.id}}</td>
          <td>{{appointment.day | date:"dd MMMM yyyy"}}</td>
          <td>{{appointment.time | date:"hh:mm"}}</td>
          <td>{{appointment.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
